/* Custom CSS Stylesheet */
.entry-placeholder {
	margin-top: 6px;
}

.table-entry {
	margin-top: 6px;
}

.form-horizontal .control-label {
	padding-top: 7px;
	margin-bottom: 0;
	text-align: left;
}

.getCoordsBtn {
	margin-left: 31%;
}

body{
	padding-bottom: 40px;
	background-color: #eee;
}

.invisible-at-first {
	display: none;
}